
store_inventory/Scripts/
store_inventory/Lib/
store_inventory/Include/
store_inventory/pyvenv.cfg

# Frontend
.vite/
node_modules/
dist/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd


.vscode/
.idea/


.DS_Store
Thumbs.dbvenv/
venv/
